module.exports = {
  apps: [
    {
      name: 'yjs-service',
      script: './src/server.js',
      max_memory_restart: '192M',
      env: {
        HOST: '127.0.0.1',
        PORT: 6010,
        YPERSISTENCE: './data',
        NODE_ENV: 'production',
      },
    },
  ],
};

